.bicicletas-bg {
  background: linear-gradient(to right, var(--c0) 25%, var(--c11) 0);

  h2 {
    color: var(--c0);
  }
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 40px;

  .bicicletas-img {
    display: grid;

    img {
      grid-area: 1/1;
    }

    span {
      grid-area: 1/1;
      font: var(--font-2-m);
      color: var(--c0);
      background-color: var(--c12);
      padding: 8px 16px;
      display: inline-block;
      place-self: start end;
      margin-top: 20px;
      border-radius: 8px 0 0 8px;
    }
  }

  .bicicletas-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
    align-content: start;
    
    h2 {
      font: var(--font-1-xl);
      margin-bottom: 16px;
      position: relative;
    }
    h2::before {
      content: "";
      display: block;
      background-color: var(--p1);
      width: 12px;
      height: 8px;
      margin-right: 8px;
    }
    p {
      font: var(--font-2-s);
      color: var(--c8);
      margin-bottom: 32px;
    }

    h2,p {
      grid-column: 1/-1;
    }

    ul {
      font: var(--font-1-m);
      color: var(--c8);
      li {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 24px;
        }
      }
      li + li {
        margin-top: 16px;
      }
    }
    a {
      place-self: end;
    }
  }
}

@media (max-width:800px) {
  .bicicletas-bg {
    background: linear-gradient(to right, var(--c11) 25%, var(--c11) 0);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width:600px) {
  .bicicletas {
    grid-template-columns: 1fr;
    .bicicletas-content {
      grid-template-columns: 1fr;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 24px;
        font-size: 1rem;
      }
      a {
        place-self: start;
      }
      
    }
  }
  
}