@import url(./global.css);
@import url(./header.css);
@import url(./main.css);
@import url(./components.css);
@import url(/stylesheet/bikes/bikes-list.css);
@import url(./tech.css);
@import url(./partners.css);
@import url(./statement.css);
@import url(./insurance.css);
@import url(./footer.css);
@import url(./termos.css);
@import url(./contato.css);
@import url(./loja.css);
@import url(./formulario.css);
@import url(./orcamento.css);
@import url(./bicicletas.css);
@import url(./seguros-page.css);
@import url(../bicicletas/style-bikes.css);


/* INICIO HEADER STYLE */

/* FIM HEADER STYLE */

/* INICIO MAIN STYLE */


/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */

/* INICIO MAIN STYLE */

/* FIM MAIN STYLE */
