@import url("./root.css");
@import url("./reset.css");

body {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);

  
  & .bik-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 10px;
    
    & .bik-header-img {
      height: 50px;
    }
    
    & .header-list {
      align-content: center;
      
      & ul {
        display: flex;
        gap: 20px;
        
        & li {
          list-style: none;
          
          & a {
            font-size: 1.25em;
            text-decoration: none;
            color: var(--white);
            padding: 10px;
          }
        }
      }
    }
  }
  
  
  & .bik-foot {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding:  50px 0;
    color: var(--grey);
    
    & .footer-contact {
      text-align: right;
      & h3 {
        font-size: 2em;
        margin-bottom: 20px;
      }
      
      & p{
        font-size: 1.25em;
        padding: 15px 0;
      }
    }
    
    & .footer-info {
      text-align: right;
      & h3 {
        font-size: 2em;
        margin-bottom: 20px;
        
      }
      & p{
        font-size: 1.25em;
        padding: 15px 0;
        & a{
          text-decoration: none;
          color: var(--grey);
        }
      }
    }
  }
  
}