@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('./reset.css');

:root {
    --orange:#FF4F00;
    --green:#A7D8B7;
    --brown:#7F4F24;
    --snow:#F4F1F1;
    --yellow: #F4A300;
    
    --bg-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --text-pri:#1B1B1B;
    --text-sec:#333333;
    --text-ter:#696969;
    --text-green:#2C6F2E;

    --font-pri: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-pri);
    background-color: var(--bg-default);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;

    & .title {
        font-size: 2em;
        font-weight: 800;
        padding-bottom: 10px;
    }

    & .subTitle {
        color: var(--text-green);
        font-size: 1em;
        font-weight: 600;
    }

    & .mainNextTrip{
        max-width: 1280px;
        margin: 0 auto;
        
        & .imgMain{
            display: flex;
            gap: 40px;
            justify-content: space-around;
            & img {    
                width: 400px;
            }
        }

        & p {
            text-align: center;
            padding: 10px 0;
            font-style: italic;
        }
    }

    & .toDoOptions{
        max-width: 1280px;
        margin: 0 auto;

        & .toDoList {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4,1fr);
            margin-top: 20px;

            & .toDoItem{
                background-color: var(--green);
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                & .toDoDesc {
                    display: flex;
                    flex-direction: column;
                    & span:nth-child(3){
                        font-weight: 200;
                    };
                }

                & .toDoPrice {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    & span{
                        grid:1;
                    }
                }
            }
        }
    }
}

